* {
    margin: 0px;
    box-sizing: border-box;
  }
  
  .header {
    height: 90px;
    background-color: #00004d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
  }
  
  .profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00004d;
    font-family: "Nunito";
    font-weight: bold;
    font-size: 25px;
    margin: 0px 50px;
  }

@media screen and (max-width : 768px) {
    .profile {
        height: 40px;
        width: 40px;
        margin: 0px 20px;
    }
}
  
